.flows.json.backup
[{"id":"6ff9256e.ece32c","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"a0f1b1d3.b5436","type":"mongodb","hostname":"host.docker.internal","topology":"direct","connectOptions":"","port":"27017","db":"gravity","name":""},{"id":"c891df65.54465","type":"http in","z":"6ff9256e.ece32c","name":"/users","url":"/users","method":"get","upload":false,"swaggerDoc":"","x":110,"y":320,"wires":[["676621d5.43155"]]},{"id":"511cbce.0f3b544","type":"http response","z":"6ff9256e.ece32c","name":"200","statusCode":"200","headers":{},"x":650,"y":320,"wires":[]},{"id":"676621d5.43155","type":"mongodb in","z":"6ff9256e.ece32c","mongodb":"a0f1b1d3.b5436","name":"mongo","collection":"gravity_vt","operation":"find","x":280,"y":320,"wires":[["7928f763.3c5b98","75cf9b6b.b55474"]]},{"id":"7928f763.3c5b98","type":"debug","z":"6ff9256e.ece32c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":260,"wires":[]},{"id":"75cf9b6b.b55474","type":"template","z":"6ff9256e.ece32c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Atomic Example</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css\">\n  <script src=\"https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js\"></script>\n  <script src=\"https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js\"></script>\n  <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js\"></script>\n</head>\n<body>\n\n<div class=\"container\">\n  <h2>User Table</h2>\n  <div class=\"table-responsive\">\n    <table class=\"table table-striped\">\n      <thead>\n        <tr>\n          <th>ID</th>\n          <th>NAME</th>\n          <th>PHONE</th>\n        </tr>\n      </thead>\n      <tbody id=\"tableData\">\n      {{#payload}}\n        <tr>\n          <th>{{ID}}</th>\n          <th>{{NAME}}</th>\n          <th>{{PHONE}}</th>\n        </tr>\n      {{/payload}}\n      </tbody>\n    </table>\n  </div>    \n</div>\n</body>\n</html>\n","output":"str","x":470,"y":320,"wires":[["511cbce.0f3b544"]]},{"id":"cb26be2c.cbd02","type":"http in","z":"6ff9256e.ece32c","name":"/api/users","url":"/api/users","method":"get","upload":false,"swaggerDoc":"","x":100,"y":420,"wires":[["c067b26a.85016"]]},{"id":"768ffe48.3aab3","type":"mongodb in","z":"6ff9256e.ece32c","mongodb":"a0f1b1d3.b5436","name":"mongo","collection":"gravity_vt","operation":"find","x":600,"y":500,"wires":[["a2fe3ce8.9ef1b","9bcb8b25.6b2cc8"]]},{"id":"a2fe3ce8.9ef1b","type":"template","z":"6ff9256e.ece32c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n \"collection\": \"{{collection}}\",\n \"page\": \"{{page}}\",\n \"data\": [\n {{#payload}}\n   {\n     \"ID\": \"{{ID}}\",\n     \"NAME\": \"{{NAME}}\",\n     \"PHONE\": \"{{PHONE}}\"\n   }{{^payload}}, {{/payload}}\n {{/payload}}\n ]\n}","output":"str","x":690,"y":440,"wires":[["60062949.362c68"]]},{"id":"60062949.362c68","type":"http response","z":"6ff9256e.ece32c","name":"200","statusCode":"200","headers":{},"x":870,"y":440,"wires":[]},{"id":"9bcb8b25.6b2cc8","type":"debug","z":"6ff9256e.ece32c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":380,"wires":[]},{"id":"37f2ca0f.efe8a6","type":"debug","z":"6ff9256e.ece32c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":520,"wires":[]},{"id":"c067b26a.85016","type":"change","z":"6ff9256e.ece32c","name":"","rules":[{"t":"set","p":"collection","pt":"msg","to":"gravity_vt","tot":"str"},{"t":"move","p":"payload.limit","pt":"msg","to":"limit","tot":"msg"},{"t":"move","p":"payload.page","pt":"msg","to":"page","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":420,"wires":[["e275f4f6.ec0888","b3c75225.6d4b8"]]},{"id":"6d26669c.287128","type":"function","z":"6ff9256e.ece32c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":100,"wires":[[]]},{"id":"b3c75225.6d4b8","type":"debug","z":"6ff9256e.ece32c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":90,"y":520,"wires":[]},{"id":"e275f4f6.ec0888","type":"function","z":"6ff9256e.ece32c","name":"","func":"msg.page = msg.page || 1;\nmsg.limit = msg.limit || 0;\nmsg.skip = (msg.page - 1) * msg.limit;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":420,"wires":[["37f2ca0f.efe8a6","768ffe48.3aab3"]]}]