.flows.json.backup
[{"id":"6ff9256e.ece32c","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"32a26565.0b651a","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"62ea718e.c8bb5","type":"Gravity Server","server":"cych-l1-gravity-nats","port":"4222"},{"id":"5bc4d721.d177e8","type":"Gravity Server","server":"cych-l2-gravity-nats","port":"4222"},{"id":"a0f1b1d3.b5436","type":"mongodb","hostname":"host.docker.internal","topology":"direct","connectOptions":"","port":"27017","db":"gravity","name":""},{"id":"c891df65.54465","type":"http in","z":"6ff9256e.ece32c","name":"api","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":110,"y":320,"wires":[["676621d5.43155"]]},{"id":"6fafece2.de4f74","type":"debug","z":"6ff9256e.ece32c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":300,"wires":[]},{"id":"511cbce.0f3b544","type":"http response","z":"6ff9256e.ece32c","name":"api","statusCode":"200","headers":{},"x":550,"y":380,"wires":[]},{"id":"87962d1e.feef9","type":"html","z":"6ff9256e.ece32c","name":"","property":"payload","outproperty":"payload","tag":"","ret":"html","as":"single","x":260,"y":460,"wires":[[]]},{"id":"218ff658.1aa9ea","type":"function","z":"6ff9256e.ece32c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":180,"wires":[[]]},{"id":"ff4cf6c0.144ba8","type":"Gravity Subscriber","z":"32a26565.0b651a","name":"source gravity","server":"62ea718e.c8bb5","subscriberID":"","enabledAuth":false,"initialLoad":true,"collections":["DataProduct"],"x":100,"y":460,"wires":[["4e7d7f07.d8975","53dda93b.ed4b28"]]},{"id":"5ed2c6bb.8a5708","type":"function","z":"32a26565.0b651a","name":"get next","func":"node.send({topic: \"control\", payload: \"drop\"})\nmsg.topic = \"control\"\nmsg.payload = \"peek\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":820,"wires":[["4a1cd7f.3fa5628"]]},{"id":"4a1cd7f.3fa5628","type":"link out","z":"32a26565.0b651a","name":"","links":["cadc9721.948718"],"x":535,"y":820,"wires":[]},{"id":"cadc9721.948718","type":"link in","z":"32a26565.0b651a","name":"","links":["4a1cd7f.3fa5628"],"x":195,"y":640,"wires":[["4e7d7f07.d8975"]]},{"id":"53dda93b.ed4b28","type":"delay","z":"32a26565.0b651a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":520,"wires":[["5d0cc188.be594"]]},{"id":"5d0cc188.be594","type":"function","z":"32a26565.0b651a","name":"start processing","func":"var newMsg;\nnewMsg = { \n        topic: \"control\",\n        payload: \"peek\",\n}  \n//node.log(global.get(\"ALLOW\"))\nif (global.get(\"ALLOW\") != 1) \n{\n    global.set(\"ALLOW\",  1);\n    node.status({fill: \"green\",text:\"RUN ONCE\"});\n    return newMsg;\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"// 部署節點後，此處的程式碼將運行一次。 \nglobal.set(\"ALLOW\",  0) ","finalize":"","libs":[],"x":120,"y":580,"wires":[["4e7d7f07.d8975"]]},{"id":"d2c8e3b8.605","type":"switch","z":"32a26565.0b651a","name":"EventCheck","property":"payload.eventName","propertyType":"msg","rules":[{"t":"eq","v":"eventDelete","vt":"str"},{"t":"eq","v":"eventCreate","vt":"str"},{"t":"eq","v":"eventUpdate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":550,"y":580,"wires":[["2b6eff4a.29c65"],["6575233a.4110fc"],["156628ea.642727"],["db283c32.cacf6"]]},{"id":"2b6eff4a.29c65","type":"change","z":"32a26565.0b651a","name":"deleteEvent","rules":[{"t":"move","p":"payload.eventName","pt":"msg","to":"eventName","tot":"msg"},{"t":"set","p":"eventName","pt":"msg","to":"targetEventDelete","tot":"str"},{"t":"move","p":"payload.message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":480,"wires":[["12973bba.9ff9a4"]]},{"id":"6575233a.4110fc","type":"change","z":"32a26565.0b651a","name":"createEvent","rules":[{"t":"move","p":"payload.eventName","pt":"msg","to":"eventName","tot":"msg"},{"t":"set","p":"eventName","pt":"msg","to":"targetEventCreate","tot":"str"},{"t":"move","p":"payload.message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":540,"wires":[["9cfa381.d7b1fc8"]]},{"id":"9aaa5fa9.c89f3","type":"Gravity Publish","z":"32a26565.0b651a","name":"target-gravity","server":"5bc4d721.d177e8","adapterID":"","x":1400,"y":560,"wires":[]},{"id":"7a6d790b.ea8728","type":"status","z":"32a26565.0b651a","name":"q-gate status","scope":["4e7d7f07.d8975"],"x":110,"y":960,"wires":[["b6c650ac.4b469"]]},{"id":"b6c650ac.4b469","type":"function","z":"32a26565.0b651a","name":"Reset","func":"if (global.get(\"ALLOW\") ==  1  && msg.status.text.replace('queuing: ', '') == '0' ){\n    global.set(\"ALLOW\",  0) \n}\n//node.log(global.get(\"ALLOW\"));\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":960,"wires":[[]]},{"id":"d71c8e37.98674","type":"complete","z":"32a26565.0b651a","name":"","scope":["9aaa5fa9.c89f3"],"uncaught":false,"x":110,"y":820,"wires":[["5ed2c6bb.8a5708"]]},{"id":"156628ea.642727","type":"change","z":"32a26565.0b651a","name":"updateEvent","rules":[{"t":"move","p":"payload.eventName","pt":"msg","to":"eventName","tot":"msg"},{"t":"set","p":"eventName","pt":"msg","to":"targetEventUpdate","tot":"str"},{"t":"move","p":"payload.message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":600,"wires":[["541a0c9f.311804"]]},{"id":"db283c32.cacf6","type":"change","z":"32a26565.0b651a","name":"snapshotEvent","rules":[{"t":"move","p":"payload.eventName","pt":"msg","to":"eventName","tot":"msg"},{"t":"set","p":"eventName","pt":"msg","to":"targetEventInitialize","tot":"str"},{"t":"move","p":"payload.message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":660,"wires":[["bc3261c4.138de"]]},{"id":"12973bba.9ff9a4","type":"function","z":"32a26565.0b651a","name":"Do Something","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":480,"wires":[["9aaa5fa9.c89f3"]]},{"id":"9cfa381.d7b1fc8","type":"function","z":"32a26565.0b651a","name":"Do Something","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":540,"wires":[["9aaa5fa9.c89f3"]]},{"id":"541a0c9f.311804","type":"function","z":"32a26565.0b651a","name":"Do Something","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":600,"wires":[["9aaa5fa9.c89f3"]]},{"id":"bc3261c4.138de","type":"function","z":"32a26565.0b651a","name":"Do Something","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":660,"wires":[["9aaa5fa9.c89f3"]]},{"id":"4e7d7f07.d8975","type":"q-gate","z":"32a26565.0b651a","name":"q-gate","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"0","keepNewest":false,"qToggle":false,"persist":false,"x":370,"y":580,"wires":[["d2c8e3b8.605"]]},{"id":"676621d5.43155","type":"mongodb in","z":"6ff9256e.ece32c","mongodb":"a0f1b1d3.b5436","name":"mongo","collection":"gravity_vt","operation":"find","x":280,"y":540,"wires":[["7928f763.3c5b98","75cf9b6b.b55474"]]},{"id":"7928f763.3c5b98","type":"debug","z":"6ff9256e.ece32c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":520,"wires":[]},{"id":"75cf9b6b.b55474","type":"template","z":"6ff9256e.ece32c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":380,"y":420,"wires":[["511cbce.0f3b544"]]}]