.flows.json.backup
[{"id":"6ff9256e.ece32c","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"c891df65.54465","type":"http in","z":"6ff9256e.ece32c","name":"api","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":110,"y":320,"wires":[["c314907c.a394a"]]},{"id":"6fafece2.de4f74","type":"debug","z":"6ff9256e.ece32c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":300,"wires":[]},{"id":"511cbce.0f3b544","type":"http response","z":"6ff9256e.ece32c","name":"api","statusCode":"200","headers":{},"x":550,"y":380,"wires":[]},{"id":"87962d1e.feef9","type":"html","z":"6ff9256e.ece32c","name":"","property":"payload","outproperty":"payload","tag":"","ret":"html","as":"single","x":260,"y":460,"wires":[[]]},{"id":"218ff658.1aa9ea","type":"function","z":"6ff9256e.ece32c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":180,"wires":[[]]},{"id":"c314907c.a394a","type":"template","z":"6ff9256e.ece32c","name":"bootstrap","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Bootstrap Example</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css\">\n  <script src=\"https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js\"></script>\n  <script src=\"https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js\"></script>\n  <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js\"></script>\n</head>\n<body>\n\n<div class=\"jumbotron text-center\">\n  <h1>My First Bootstrap Page</h1>\n  <p>Resize this responsive page to see the effect!</p> \n</div>\n  \n<div class=\"container\">\n  <div class=\"row\">\n    <div class=\"col-sm-4\">\n      <h3>Column 1</h3>\n      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>\n      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>\n    </div>\n    <div class=\"col-sm-4\">\n      <h3>Column 2</h3>\n      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>\n      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>\n    </div>\n    <div class=\"col-sm-4\">\n      <h3>Column 3</h3>        \n      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>\n      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>\n    </div>\n  </div>\n</div>\n\n</body>\n</html>\n","output":"str","x":220,"y":420,"wires":[["511cbce.0f3b544"]]}]