flows.json
[{"id":"6ff9256e.ece32c","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"c891df65.54465","type":"http in","z":"6ff9256e.ece32c","name":"api","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["6fafece2.de4f74","e7f794c8.d76968"]]},{"id":"6fafece2.de4f74","type":"debug","z":"6ff9256e.ece32c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":300,"wires":[]},{"id":"511cbce.0f3b544","type":"http response","z":"6ff9256e.ece32c","name":"api","statusCode":"200","headers":{},"x":550,"y":380,"wires":[]},{"id":"e7f794c8.d76968","type":"change","z":"6ff9256e.ece32c","name":"a","rules":[{"t":"set","p":"payload.a","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":380,"wires":[["511cbce.0f3b544"]]}]