flows.json
[{"id":"6ff9256e.ece32c","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"62ea718e.c8bb5","type":"Gravity Server","server":"cych-l1-gravity-nats","port":"4222"},{"id":"5bc4d721.d177e8","type":"Gravity Server","server":"cych-l2-gravity-nats","port":"4222"},{"id":"a0f1b1d3.b5436","type":"mongodb","hostname":"host.docker.internal","topology":"direct","connectOptions":"","port":"27017","db":"gravity","name":""},{"id":"f6c122ad.621c98","type":"mongodb2","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":"-1"},{"id":"c891df65.54465","type":"http in","z":"6ff9256e.ece32c","name":"api","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":110,"y":320,"wires":[["676621d5.43155"]]},{"id":"6fafece2.de4f74","type":"debug","z":"6ff9256e.ece32c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":300,"wires":[]},{"id":"511cbce.0f3b544","type":"http response","z":"6ff9256e.ece32c","name":"api","statusCode":"200","headers":{},"x":550,"y":380,"wires":[]},{"id":"87962d1e.feef9","type":"html","z":"6ff9256e.ece32c","name":"","property":"payload","outproperty":"payload","tag":"","ret":"html","as":"single","x":260,"y":460,"wires":[[]]},{"id":"218ff658.1aa9ea","type":"function","z":"6ff9256e.ece32c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":180,"wires":[[]]},{"id":"676621d5.43155","type":"mongodb in","z":"6ff9256e.ece32c","mongodb":"a0f1b1d3.b5436","name":"mongo","collection":"gravity_vt","operation":"find","x":280,"y":540,"wires":[["7928f763.3c5b98","75cf9b6b.b55474"]]},{"id":"7928f763.3c5b98","type":"debug","z":"6ff9256e.ece32c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":520,"wires":[]},{"id":"75cf9b6b.b55474","type":"template","z":"6ff9256e.ece32c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n</head>\n\n</html>","output":"str","x":380,"y":420,"wires":[["511cbce.0f3b544"]]},{"id":"58de4ec6.622d9","type":"function","z":"6ff9256e.ece32c","name":"","func":"var payload = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":500,"wires":[[]]}]